.search {
  display: flex;
  align-items: center;
  width: 32.375rem;
  height: 3.1875rem;
  border-radius: 3.125rem;
  background: #0E1421;
  padding-left: 2rem;
  /* margin-left: 10%;
  position: relative; */
}

.SearchInput {
  height: 100%;
  padding: 1rem;
  border: none;
  outline: none;
  background: transparent;
  color: white;
  width: 86%;
  font-size: 1rem;
}

.search-icon {
  width: 20px;
  height: 20px;
  pointer-events: none;
}


@media screen and (max-width: 480px) {
  .search {
    display: flex;
    align-items: center;
    width: auto;
    height: 5rem;
    border-radius: 3.125rem;
    background: #0E1421;
    padding-left: 1.8rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }

  .SearchInput {
    height: 100%;
    padding: 1rem;
    border: none;
    outline: none;
    background: transparent;
    color: white;
    width: 86%;
    font-size: 1.7rem;
  }

  .search-icon {
    width: 35px;
    height: 35px;
    pointer-events: none;
  }
}