.search {
  display: flex;
  align-items: center;
  width: 32.375rem;
  height: 3.1875rem;
  border-radius: 3.125rem;
  background: #0E1421;
  padding-left: 2rem;
  /* margin-left: 10%;
  position: relative; */
}

.SearchInput {
    height: 100%;
    padding: 1rem;
    border: none;
    outline: none;
    background: transparent;
    color: white;
    width: 86%;
    font-size: 1rem;
}

.search-icon {
  width: 20px;
  height: 20px;
  pointer-events: none;
}