/* Header.css */

.header {
   display: flex;
   height: 57rem;
   padding: 1.25rem 0;
   flex-direction: column;
   align-items: center;
   border-radius: 1.25rem;
   background: #0E1421;
   width: 6rem;
   border-radius: 1.2rem;
   /* margin: 2rem; */
}

.logo {
   width: 2rem;
   height: auto;
   cursor: pointer;
}

.logo-text {
   color: #FFF;
   font-family: Inter;
   font-size: 0.8rem;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   padding: 0.8rem 0rem;



}

.header_icons {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 3rem;
   margin: 5.5rem 0rem;
}

.icon {
   cursor: pointer;
       width: 36px;
}

.header_arrow_right {
   cursor: pointer;
   margin-top: 7rem;
   width: 36px;
}





















@media screen and  (max-width: 480px) {

  .header {
    display: none; 
  }


}