.CitiesWeather_row {
    display: grid;
    grid-template-columns: auto auto;
}



.CitiesWeather_heading {
    color: #FFF;
    font-family: Inter;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.CitiesWeather_btn {
    display: inline-flex;
    padding: 0.625rem 0.25rem;
    justify-content: center;
    align-items: center;
    border-radius: 1.875rem;
    background: #0E1421;
    color: #676B73;
    font-family: Inter;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 130px;
}