.boxBackground {
    /* display: flex; */
    
    /* width: 14rem; */
    /* height: 12rem; */
    padding: 0.1rem 1rem;
    align-items: center;
    gap: 6.25rem;
    border-radius: 1.25rem;
    background: #0E1421;
    cursor: pointer;
}





.boxHeading {
    color: #FFF;
    font-family: Inter;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    /* position: absolute;
    top: 8%;
    left: 8%; */
}


.boxImage {
    /* position: absolute;
    top: 11%; */
}