.Forecast_background {
   display: flex;
   width: 42.25rem;
   height: 23.0625rem;
   padding: 1.8125rem 1.6875rem;
   flex-direction: column;
   align-items: flex-start;
   gap: 6.25rem;
   position: absolute;
   top: 87%;
   left: 12%;
   background-color: #0E1421;
   border-radius: 2rem;
}


.Forecast_heading {
   color: #FFF;
   font-family: Inter;
   font-size: 1.5rem;
   font-style: normal;
   font-weight: 300;
   line-height: normal;
}


.oneHoureForecast {
   display: flex;
   height: 9.375rem;
   padding: 0.9375rem 1.0625rem;
   flex-direction: column;
   align-items: flex-start;
   gap: 6.25rem;
   align-self: stretch;
   border-radius: 1.875rem;
   background: linear-gradient(255deg, rgba(14, 20, 33, 0.50) 0.78%, rgba(29, 50, 95, 0.50) 50.49%, rgba(14, 20, 33, 0.50) 99.22%);
}