.Forecast_background {
   display: flex;
   width: 42.25rem;
   height: 23.0625rem;
   padding: 1.8125rem 1.6875rem;
   flex-direction: column;
   align-items: flex-start;
   gap: 6.25rem;
   position: absolute;
   top: 72%;
   left: 10%;
   background-color: #0E1421;
   border-radius: 2rem;

}


.Forecast_heading {
   color: #FFF;
   font-family: Inter;
   font-size: 1.5rem;
   font-style: normal;
   font-weight: 300;
   line-height: normal;
   position: absolute;
   left: 3rem;
}


.oneHoureForecast {
   display: flex;
   height: 9rem;
   padding: 0.9375rem 1.0625rem;
   flex-direction: row;
   align-items: flex-start;
   justify-content: center;
   gap: 1.5%;
   align-self: stretch;
   position: absolute;
   top: 5rem;
   width: 25rem;
   left: 3rem;
   border-radius: 1.875rem;
   background: linear-gradient(255deg, rgba(14, 20, 33, 0.50) 0.78%, rgba(29, 50, 95, 0.50) 50.49%, rgba(14, 20, 33, 0.50) 99.22%);
}


.tomorrow_Forecast {
   width: 25.5rem;
   height: 4.9375rem;
   border-radius: 1.5625rem;
   background: linear-gradient(255deg, rgba(14, 20, 33, 0.50) 0.78%, rgba(29, 50, 95, 0.50) 50.49%, rgba(14, 20, 33, 0.50) 99.22%);
   position: absolute;
   /* top: 71%;
   left: 3rem; */
   display: flex;
   align-items: center;
   margin-top: 35%;
   left: 3rem;
}

.tomorrow_Forecast_heading {
   color: #FFF;
   font-family: Inter;
   font-size: 0.875rem;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   position: absolute;
   /* top: 30%;
   left: 2rem; */
   top: 1rem;
   left: 10%;


}

.tomorrow_Forecast_para {
   color: #676B73;
   font-family: Inter;
   font-size: 0.6875rem;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   position: absolute;
   /* top: 56%;
   left: 2rem; */
   top: 2.5rem ;
   left: 10%;

}


.tomorrow_Forecast_unit {
   color: #FFF;
   font-family: Inter;
   font-size: 2.4rem;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   position: absolute;
   left: 35%;

}


.thunderstorm_cloud {
   position: relative;
   width: 28%;
   height: auto;
   left: 65%;
   bottom: 48%;
}

.timeForecast {
   width: 10rem;
   height: 85%;
   padding: 1.0625rem 1.25rem;
   /* align-items: center; */
   border-radius: 1.5625rem;
   background: #14203A;
   position: absolute;
   left: 71%;

}


.timeForecast_heading {
   color: #676B73;
   font-family: Inter;
   font-size: 1.25rem;
   font-style: normal;
   font-weight: 500;
   line-height: normal;
   position: absolute;
   top: 35px;
}


.timeForecast_time {
   color: #FFF;
   font-family: Inter;
   font-size: 2rem;
   font-style: normal;
   font-weight: 500;
   line-height: normal;
   position: absolute;
   top: 70px;

}


.timeForecast_ampm {
   color: #676B73;
   font-family: Inter;
   font-size: 1.25rem;
   font-style: normal;
   font-weight: 500;
   line-height: normal;
   position: absolute;
   margin-left: 85px;
   bottom: 12rem;
}


.timeForecast_heading2 {
   color: #676B73;
   font-family: Inter;
   font-size: 1.25rem;
   font-style: normal;
   font-weight: 500;
   line-height: normal;
   position: absolute;
   top: 8rem;
}


.timeForecast_time2 {
   color: #FFF;
   font-family: Inter;
   font-size: 2rem;
   font-style: normal;
   font-weight: 500;
   line-height: normal;
   position: absolute;
   top: 10rem;

}


.timeForecast_ampm2 {
   color: #676B73;
   font-family: Inter;
   font-size: 1.25rem;
   font-style: normal;
   font-weight: 500;
   line-height: normal;
   position: absolute;
   margin-left: 85px;
   bottom: 6.4rem;
}




.timeForecast_heading3 {
   color: #676B73;
   font-family: Inter;
   font-size: 1.25rem;
   font-style: normal;
   font-weight: 500;
   line-height: normal;
   position: absolute;
   top: 14rem;
}


.timeForecast_time3 {
   color: #FFF;
   font-family: Inter;
   font-size: 1.8rem;
   font-style: normal;
   font-weight: 500;
   line-height: normal;
   position: absolute;
   top: 16rem;

}


.timeForecast_ampm3 {
   color: #676B73;
   font-family: Inter;
   font-size: 1rem;
   font-style: normal;
   font-weight: 500;
   line-height: normal;
   position: absolute;
   margin-left: 85px;
   bottom: 0.5rem;
}

.timeForecastDiv {}