.Forecast_background {
   display: flex;
   width: 42.25rem;
   height: 23.0625rem;
   padding: 1.8125rem 1.6875rem;
   flex-direction: column;
   align-items: flex-start;
   gap: 6.25rem;
   /* position: absolute;
   top: 72%;
   left: 10%; */
   background-color: #0E1421;
   border-radius: 2rem;

}


.Forecast_heading {
   color: #FFF;
   font-family: Inter;
   font-size: 1.5rem;
   font-style: normal;
   font-weight: 300;
   line-height: normal;
   /* position: absolute;
   left: 3rem; */
   margin: 0;

}


.oneHoureForecast {
   display: flex;
   /* height: 7rem; */
   padding: 0.9375rem 1.0625rem;
   flex-direction: row;
   align-items: flex-start;
   justify-content: center;
   gap: 6px;
   align-self: stretch;
   /* width: 25rem; */
   left: 3rem;
   border-radius: 1.875rem;
   background: linear-gradient(255deg, rgba(14, 20, 33, 0.50) 0.78%, rgba(29, 50, 95, 0.50) 50.49%, rgba(14, 20, 33, 0.50) 99.22%);
}


.tomorrow_Forecast {
   width: 25.5rem;
   height: 4.9375rem;
   border-radius: 1.5625rem;
   background: linear-gradient(255deg, rgba(14, 20, 33, 0.50) 0.78%, rgba(29, 50, 95, 0.50) 50.49%, rgba(14, 20, 33, 0.50) 99.22%);
   /* position: absolute; */
   /* top: 71%;
   left: 3rem; */
   /* display: flex; */
   align-items: center;
   /* margin-top: 35%; */
   /* left: 3rem; */
   padding-left: 25px;
   position: relative;
}

.tomorrow_Forecast_heading {
   color: #FFF;
   font-family: Inter;
   font-size: 0.875rem;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   /* position: absolute; */
   margin: 0;
   margin-top: 24px;

}

.tomorrow_Forecast_para {
   color: #676B73;
   font-family: Inter;
   font-size: 0.6875rem;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   margin: 0;
   margin-top: 3px;

}


.tomorrow_Forecast_unit {
   color: #FFF;
   font-family: Inter;
   font-size: 2.4rem;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   margin: 0;
   margin-left: 92px;
   margin-top: -38px;

}


.thunderstorm_cloud {
   /* position: relative;
   width: 28%;
   height: auto;
   left: 65%;
   bottom: 38%; */
   width: 110px;
   height: auto;
   position: absolute;
   bottom: 18px;
   left: 294px;
}

.timeForecast {
   width: 9rem;
   /* height: 85%; */
   padding: 2rem 1.5rem;
   /* align-items: center; */
   border-radius: 1.5625rem;
   background: #14203A;
   margin-top: 15px;
   margin-left: 28px;

}


.timeForecast_heading {
   color: #676B73;
   font-family: Inter;
   font-size: 1.2rem;
   font-style: normal;
   font-weight: 500;
   line-height: normal;
   /* position: absolute;
   top: 35px; */
   margin: 0;

}


.timeForecast_time {

   color: #FFF;
   font-family: Inter;
   font-size: 2rem;
   font-style: normal;
   font-weight: 500;
   line-height: normal;
   margin: 0;
   margin-top: 20px;

}


.timeForecast_ampm {
   color: #676B73;
   font-family: Inter;
   font-size: 1.25rem;
   font-style: normal;
   font-weight: 500;
   line-height: normal;
   margin: 0;
   margin-left: 82px;
   margin-top: -31px;
}


.timeForecast_heading2 {
   color: #676B73;
   font-family: Inter;
   font-size: 1.2rem;
   font-style: normal;
   font-weight: 500;
   line-height: normal;
   /* position: absolute;
   top: 8rem; */
   margin: 0;
   margin-top: 24px;

}


.timeForecast_time2 {
   color: #FFF;
   font-family: Inter;
   font-size: 2rem;
   font-style: normal;
   font-weight: 500;
   line-height: normal;
   margin: 0;
   margin-top: 20px;
}


.timeForecast_ampm2 {
   color: #676B73;
   font-family: Inter;
   font-size: 1.25rem;
   font-style: normal;
   font-weight: 500;
   line-height: normal;
   margin: 0;
   margin-left: 82px;
   margin-top: -31px;
}




.timeForecast_heading3 {
   color: #676B73;
   font-family: Inter;
   font-size: 1.2rem;
   font-style: normal;
   font-weight: 500;
   line-height: normal;
   /* position: absolute;
   top: 14rem; */
   margin: 0;
   margin-top: 24px;
}


.timeForecast_time3 {
   color: #FFF;
   font-family: Inter;
   font-size: 2rem;
   font-style: normal;
   font-weight: 500;
   line-height: normal;
   margin: 0;
   margin-top: 20px;
}


.timeForecast_ampm3 {
   color: #676B73;
   font-family: Inter;
   font-size: 1.25rem;
   font-style: normal;
   font-weight: 500;
   line-height: normal;
   margin: 0;
   margin-left: 82px;
   margin-top: -31px;
}

.Forecast-row {
   display: grid;
   grid-template-columns: 1fr 1fr;
   padding: 24px;
   gap: 10px;
}


.forecast-col_1 {
   display: grid;
   grid-template-rows: auto auto 1fr;
   gap: 48px;
   margin-top: 18px;
   margin-left: 10px;

}


.forecast-col_2 {
   display: grid;
   grid-template-rows: auto auto 1fr;
}


.oneHoureForecast_row {
   display: grid;
   grid-template-columns: auto auto auto auto auto auto auto;
   margin-top: -22px;
}






@media screen and (max-width: 480px) {
   .Forecast-row {
      display: grid;
      grid-template-columns: 12fr;
      padding: 27px 45px 329px 45px;
      gap: 10px
   }


   .Forecast_heading {
      color: #FFF;
      font-family: Inter;
      font-size: 1.5rem;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      margin: 0;
   }

   .oneHoureForecast_row {
      display: grid;
      grid-template-columns: auto auto auto auto auto auto auto;
      margin-top: -22px;
      gap: 5px;
      width: fit-content;
   }


   .timeForecast_time {
    color: #FFF;
    font-family: Inter;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
    margin-top: 20px;
    margin-left: 8px;
}

   .tomorrow_Forecast {
      width: 24rem;
      height: 7rem;
      border-radius: 1.5625rem;
      background: linear-gradient(255deg, rgba(14, 20, 33, 0.50) 0.78%, rgba(29, 50, 95, 0.50) 50.49%, rgba(14, 20, 33, 0.50) 99.22%);
      /* position: absolute; */
      /* display: flex
; */
      align-items: center;
      /* margin-top: 35%; */
      /* left: 3rem; */
      padding-left: 26px;
      position: relative;
   }

   .tomorrow_Forecast_heading {
      color: #FFF;
      font-family: Inter;
      font-size: 1.5rem;
      font-weight: 400;
      line-height: normal;
      /* position: absolute; */
      margin: 0;
      margin-top: 24px;
   }


   .tomorrow_Forecast_para {
        color: #676B73;
        font-family: Inter;
        font-size: 0.8rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin: 0;
        margin-top: 6px;   }


   .tomorrow_Forecast_unit {
      color: #FFF;
      font-family: Inter;
      font-size: 2.9rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin: 0;
      margin-left: 147px;
      margin-top: -52px;
   }


   .thunderstorm_cloud {
        width: 125px;
        height: auto;
        position: absolute;
        bottom: 46px;
        left: 272px;

   }


   .timeForecast_heading2 {
      color: #676B73;
      font-family: Inter;
      font-size: 1.5rem;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      margin: 0;
      margin-top: -89px;
      margin-left: 210px;
   }

    .timeForecast {
        width: 38.5rem;
        /* height: 85%; */
        padding: 2rem 1.8rem;
        /* align-items: center; */
        border-radius: 1.5625rem;
        background: #14203A;
        margin-top: 33px;
        margin-left: 0px;
    }

    .timeForecast_time2 {
    color: #FFF;
    font-family: Inter;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
    margin-top: 20px;
    margin-left: 210px;
}
.timeForecast_ampm2 {
    color: #676B73;
    font-family: Inter;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
    margin-left: 306px;
    margin-top: -31px;
}

.timeForecast_heading3 {
    color: #676B73;
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
    margin-top: -89px;
    margin-left: 445px;
}

.timeForecast_time3 {
    color: #FFF;
    font-family: Inter;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
    margin-top: 20px;
    margin-left: 445px;
}

.timeForecast_heading {
    color: #676B73;
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
    margin-left: 8px;
}

.timeForecast_ampm {
   color: #676B73;
   font-family: Inter;
   font-size: 1.25rem;
   font-style: normal;
   font-weight: 500;
   line-height: normal;
   margin: 0;
   margin-left: 100px;
   margin-top: -31px;
}

.forecast-col_1 {
   margin-left: -5px;

}
}