.timeForecast_heading {
   color: #676B73;
   font-family: Inter;
   font-size: 1.25rem;
   font-style: normal;
   font-weight: 500;
   line-height: normal;
   position: relative;
}


.timeForecast_time {
   color: #FFF;
   font-family: Inter;
   font-size: 2rem;
   font-style: normal;
   font-weight: 500;
   line-height: normal;
   position: relative;
  
}


.timeForecast_ampm {
   color: #676B73;
   font-family: Inter;
   font-size: 1.25rem;
   font-style: normal;
   font-weight: 500;
   line-height: normal;
   position: relative;
   
}