.main_container {
   padding: 40px;
}

.search_and_user {
   display: grid;
   /* grid-template-columns: 1fr 1fr; */
   gap: 30px;
}

.main_row {
   display: grid;
   grid-template-columns: 1fr 5fr 5fr;
   row-gap: 10px;
}



.WeatherDetail_and_CitiesWeather {
   display: grid;
   gap: 28px;
}






@media screen and (max-width: 480px) {


   .main_container {
      padding: 40px;
   }

   /* .search_and_user {
         display: grid;
         gap: 30px;
      } */

   .main_row {
      display: grid;
      grid-template-columns: auto;
      gap: 105px;
   }


   /* 
      .WeatherDetail_and_CitiesWeather {
         display: grid;
         gap: 28px;
      } */


}