.main_container {
   padding: 40px;
}

.search_and_user {
   display: grid;
   /* grid-template-columns: 1fr 1fr; */
   gap: 28px;
}

.main_row {
   display: grid;
   grid-template-columns: 1fr 5fr 5fr;
   row-gap: 10px;
}



.WeatherDetail_and_CitiesWeather {
   display: grid;
   gap: 28px;
}