.unit-toggle {
  display: flex;
  width: 100px;
  border-radius: 999px;
  overflow: hidden;

  border-radius: 3rem;
  position: absolute;
  bottom: 252px;
  left: 550px;
}

.toggle-btn {
  flex: 1;
  padding: 10px 0;
  background-color: white;
  color: #060C1A;
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;


}

.toggle-btn.active {
  background-color: #060C1A;
  color: white;
  border-radius: 3.125rem;
}





@media screen and (max-width: 480px) {
  .unit-toggle {
    display: flex;
    width: 112px;
    border-radius: 999px;
    overflow: hidden;
    border-radius: 3rem;
    position: absolute;
    bottom: 214px;
    left: 275px;
  }




.toggle-btn {
  flex: 1 1;
  padding: 10px 20px;
  background-color: white;
  color: #060C1A;
  border: none;
  font-weight: bold;
  cursor: default;
  transition: 0.3s;
  font-size: 17px;
}

.toggle-btn.active {
  background-color: #060C1A;
  color: white;
  border-radius: 0rem;
}
}